    /*--------------  PAYEMNT  --------------------*/
    
    #payment {
        display: grid;
        /* grid-template-columns: 741px 435px; */
        grid-template-columns: auto 1fr;
        gap: 48px;
        max-width: 1200px;
        margin: 80px auto 0 auto;
        margin-bottom: 120px;
        overflow-x: hidden;
    }
    
    @media only screen and (max-width: 1280px) {
        #payment {
            padding-right: 40px;
            padding-left: 40px;
            grid-template-columns: 1fr;
            grid-auto-flow: row;
        }
        #payment-left-side {
            max-width: unset;
        }
    }
    
    #payment-left-side {
        max-width: 741px;
    }
    
    #paymentDetails {
        width: 100%;
        padding: 24px;
        background-color: #E8F3FA;
        display: grid;
        gap: 16px;
    }
    
    @media only screen and (max-width: 570px) {
        #pd1 {
            flex-direction: column;
        }
        .detailBox p {
            font-size: 16px;
            font-weight: bold;
        }
    }
    
    #paymentDetails span:nth-child(1) {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 8px;
    }
    
    .txtOnRed {
        background: #FF595E;
        font-family: Product Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        padding: 6px 8px;
        ;
        color: #FFFFFF;
    }
    
    .detailBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .detailBox span {
        display: flex;
        gap: 20px
    }
    
    #paymentCredentials {
        width: 100%;
        padding: 24px;
        display: grid;
        background: #F7F8F9
    }
    /*----- payment inputs  -----*/
    
    #paymentCredentials form {
        display: grid;
        gap: 24px;
    }
    
    #paymentCredentials form input {
        background-color: #fff;
        padding: 16px 24px 16px 70px;
        margin-top: -16px;
        font-family: Product Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #697B86;
    }
    
    #paymentCredentials form input::placeholder {
        font-family: Product Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: rgba(6, 35, 54, 0.4);
    }
    
    #paymentCredentials div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px
    }
    
    #cardNo {
        background-image: url(../imgs/cardNo.svg);
        background-repeat: no-repeat;
        background-position: 24px;
    }
    
    #code {
        background-image: url(../imgs/qr.svg);
        background-repeat: no-repeat;
        background-position: 24px;
    }
    
    #fname {
        background-image: url(../imgs/user.svg);
        background-repeat: no-repeat;
        background-position: 24px;
    }
    /*---------------------------------------------------------------*/
    
    #paymentCredentials span {
        display: flex;
        gap: 14px
    }
    
    .check-label {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        /* font-size: 22px; */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: Product Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        /* #697B86 */
        color: #697B86;
    }
    
    .check-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    .checkmark {
        position: absolute;
        top: 0px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 4px;
    }
    
    .check-label:hover input~.checkmark {
        background-color: #ccc;
    }
    
    .check-label input:checked~.checkmark {
        background: #8AC926;
    }
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    .check-label input:checked~.checkmark:after {
        display: block;
    }
    
    .check-label .checkmark:after {
        left: 7px;
        top: 3px;
        width: 5px;
        height: 9px;
        border: solid white;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .check-label a {
        color: #8AC926;
    }
    
    #agreeTerms {
        margin-top: 34px;
        display: flex;
        align-items: center;
        margin-bottom: 18px;
    }
    
    #payBtn {
        padding: 24px 96px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 32px;
        align-self: center;
        justify-self: center;
    }
    
    .testimonial {
        padding: 32px 52px;
        background: #F8F8F9;
        border-radius: 6px;
        display: grid;
        gap: 16px
    }
    
    #testimonial-container {
        display: grid;
        gap: 16px;
        margin: 32px 0 0 0;
    }
    
    #testimonial-container .p-dark-18-b {
        margin-left: 24px;
        ;
    }
    
    #testimonial-container .dark-18-b {
        margin-left: 24px;
    }
    
    #testimonialsPayment {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
    
    @media only screen and (max-width: 860px) {
        #testimonialsPayment {
            grid-template-columns: 1fr;
            grid-auto-flow: row;
        }
    }
    
    #testimonialsPayment .testimonial {
        padding: 16px;
    }
    
    .profile {
        display: flex;
        gap: 24px;
        align-items: center;
    }
    
    .name {
        display: grid;
        gap: 8px;
    }
    
    .profile img {
        height: 80px;
        width: 80px;
    }
    
    .stars {
        display: flex;
        gap: 4px
    }
    
    .stars img {
        width: 19px;
        height: 19px;
    }
    
    #payLeft {
        display: flex;
        flex-direction: column;
        gap: 32px
    }
    
    .aboutUrPayment {
        display: flex;
        flex-direction: column;
        gap: 16px
    }
    
    .pad-24 {
        padding: 24px;
    }
    
    .pad-24-s {
        padding: 0 24px;
    }
    
    .greyBg {
        background: #F7F8F9;
    }
    /* #expDate {
        background: #fff url(../imgs/calendar.svg) 7% no-repeat;
        box-sizing: border-box;
        height: 54px;
    } */
    
    #expDate {
        background: #fff url(../imgs/calendar.svg) 7% no-repeat;
        max-height: 54px;
    }
    
    [type="month"]::-webkit-inner-spin-button {
        display: none;
    }
    
    [type="month"]::-webkit-calendar-picker-indicator {
        opacity: 0;
        position: relative;
        left: -264px
    }
    
    @media only screen and (max-width: 780px) {
        #paymentCredentials div {
            grid-template-columns: 1fr;
        }
        [type="date"] {
            background: #fff url(../imgs/calendar.svg) no-repeat;
            background-position: 20px;
        }
        [type="date"]::-webkit-calendar-picker-indicator {
            opacity: 0;
            position: absolute;
            left: 60px
        }
        #two-input label:nth-child(1) {
            order: 1
        }
        #two-input input:nth-child(2) {
            order: 2
        }
        #two-input label:nth-child(3) {
            order: 3
        }
        #two-input input:nth-child(4) {
            order: 4
        }
    }
    
    @media only screen and (max-width:400px) {
        .p-black-24 {
            font-size: 20px;
        }
        #payBtn {
            padding: 0 20px;
        }
        input {
            width: 100%;
        }
    }